<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Aggregate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>EXT.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Friwix.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4E3481401D12D9FA005330CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E34819A1D12DB30005330CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E3481CC1D12DB75005330CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E34822B1D12DC72005330CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
